body
{
    background-color: lightgrey;
}
.container
{
    border: 3px solid darkblue;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0px rgb(54, 53, 53);
}
.txt
{
    color: darkblue;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.txt1
{
    font-weight: bold;
}
.clk
{
    font-weight: bold;
    font-size: 40px;
    padding-left: 50px;
    color: darkgreen;
}
