.txt {
  font-size: 60px;
  width: 50%;
  margin: 150px 0px -70px 350px;
  text-align: center;
  font-weight: bold;
}
body {
  background-color: lightgrey;
}
.box {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 0px rgb(54, 53, 53);
}
